/* Entire page */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
}


/* Header */
.header {
    background-color: #000;
    color: white;

    height: 70px;

    display: flex;
    align-items: center;

    border-bottom: 1px solid #222;
}


/* Holds logo and text */
.logo-area {
    display: flex;
    align-items: center;

    margin-left: 20px;
}


/* Logo */
.logo {
    width: 40px;
    height: 40px;

    object-fit: contain;

    margin-right: 12px;
}


/* Studio name */
.studio-name {
    font-size: 24px;
    margin: 0;
    color: white;
}


/* Main content */
main,
aside,
footer {
    color: white;
}
